
<div>
{{poll.question}}

{{#each poll.choices}}
<h3>{{ @key }} | {{ this }} <button onclick="vote('{{{ ../poll.id }}}','{{{ @key }}}')">+1</button>

{{/each}}

<div id="chart">
    {{chart}}
</div>

<div>
		    <form method="post" action="/poll/{{ poll.id }}/addchoices" class="createpoll"><br>
                <div name="choices" id="choices">
                	<label>Add new choices (comma-separated):</label>
                    <textarea type="text" name="choices"></textarea>
                </div>
                <input type="submit" value="Submit">
            </form>
		</div> 
		
		<div class="chart">
		<canvas id="myChart" width="200" height="200"></canvas>
		<script>
var ctx = document.getElementById("myChart");
ctx.canvas.width = 200;
ctx.canvas.height = 200;
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["c", "b", "a"],
        datasets: [{
            label: '# of Votes',
            data: [{{ values }}],
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255,99,132,1)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
		</div>

<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=https://stvapp.herokuapp.com/poll/{{ poll.id }}">

    
Tweet this Poll</a>


</div>

