<div>
{{poll.poll.question}}

{{#each poll.poll.choices}}
<h3>{{ this.choice }} | {{ this.count }} <form action="/poll/{{ this.id }}/{{ this.id }}" method="post"><input type="submit" value="+1"/>

{{/each}}

<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=https://stvapp.herokuapp.com/poll/{{ poll.id }}">
Tweet this Poll</a>


</div>

