<div>
{{poll.question}}

{{#each poll.choices}}
<h3>{{ @key }} | {{ this }} <button onclick="vote('{{{ ../poll.id }}}','{{{ @key }}}')">+1</button>

{{/each}}

<div class="chart">
    {{chart}}
</div>

<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=https://stvapp.herokuapp.com/poll/{{ poll.id }}">
    
    
Tweet this Poll</a>


</div>

