<div>
    			<div class="twitter-profile">
				<img src="/img/Twitterbird.png" alt="twitter logo" />
				<p><span>ID: </span><span id="profile-id" >{{user.twitter.id}}</span></p>
				<p><span>Username: </span><span id="profile-username" {{user.twitter.username}}></span></p>
				<p><span>Display Name: </span><span id="display-name" >{{user.twitter.displayName}}</span></p>
<div class="twitter-profile">
    <h2>Polls</h2>
{{#each user.polls}}
<h3><a href = "https://stvapp.herokuapp.com/poll/{{ this }}">{{ this }} | <form action="/profile/:id"><input type="submit" value="Delete"/>
</form></h3>
{{/each}}
</div>
</div>